[Desktop Entry]
Encoding=UTF-8
Name=Timing System web interface
Type=Link
URL=http://ics-xpp-lj12-timing01/
Icon=/reg/neh/home/schotte/Software/Lauecollect/icons/timing-system.png
