[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Wide-field camera
Type=Application
Terminal=false
Name[en_US]=Diffractometer Setup
Exec=ssh -X id14b4 NIH/Software/DiffractometerPanel.py
Comment[en_US]=F. Schotte, 6 Mar 2013
Comment=F. Schotte, 30 Jan 2012
Icon=/usr/share/icons/Bluecurve/48x48/mimetypes/gnome-mime-application-x-python.png
GenericName[en_US]=
