[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=NIH Diffractometer
Type=Application
Terminal=false
Exec=csh -c "medm -x -attach -macro P=14IDB-NIH:,R=serial5 asynOctet.adl"
Comment[en_US]=F. Schotte, 30 Mar 2013
Comment=F. Schotte, 4 Mar 2013
GenericName[en_US]=MEDM screen for serial port on Linux box
Name[en_US]=NIH Serial Port 5
