[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Timing System Web Interface
Type=Link
URL=http://id14timing.cars.aps.anl.gov/
Icon=gnome-fs-bookmark
GenericName[en_US]=Timing System Web Interface
Comment[en_US]=Schotte, 1 Apr 2013
Name[en_US]=Timing System Web Interface
